@import './theme.less';

.markdown-preview {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 15px auto;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  a {
    text-decoration: underline;
    color: @ActiveColor;
  }

  img {
    display: block;
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 100%;
    border: 2px solid @BorderColor;
    border-radius: 10px;
  }

  p {
    font-size: 14px;
    margin: 10px 0;
    word-break: break-word;
    line-height: 1.8;
  }

  // 行内代码
  p code, li code {
    color: @FailedColor;
    background-color: @BorderColor;
  }

  // 代码块
  pre {
    border-radius: 5px;
    word-wrap: normal;
    word-break: break-all;
    white-space: pre;
    overflow: auto;
    margin: 10px 0;
    padding: 15px;
    background: #282c34;
    code {
      padding: 0;
      font-size: 14px;
      line-height: 1.8;
      background: inherit;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d8d8d8;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #bbb;
      }
    }
  }

  blockquote {
    padding: 3px 10px;
    font-size: 14px;
    margin: 10px 0;
    background: @BorderColor;
    border-left: 6px solid @ActiveColor;
    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  ul {
    margin: 10px 0;
    padding-left: 0px;
    li {
      margin: 5px 0;
      line-height: 1.5;
      list-style: disc inside;
      font-size: 14px;
      p {
        display: inline-block;
      }
    }
  }

  

  table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    font-size: 14px;
    thead {
      th {
        padding: 10px;
        text-align: left;
        border: 1px solid @BorderColor;
      }
    }
    tr {}
    td{
      padding: 10px;
      border: 1px solid @BorderColor;
      
    }
  }
}
